# Distribution / packaging
bin/
numpy/
numpy-1.16.2.dist-info/
scikit_learn-0.20.3.dist-info/
scipy/
scipy-1.2.1.dist-info/
sklearn
sklearn-0.0.dist-info/
BackupExist_RF_Algorithm.py
.DS_Store

simpleDecisionTree.py
predict_UI.py
handler.py
__pycache__

# Serverless directories
.serverless
serverless.yml